<div class="root">
  <mat-nav-list>
    <ng-container *ngFor="let item of menu">
      <a
        *ngIf="isStatic(item)"
        mat-list-item
        class="link"
        [routerLink]="item.path"
        [routerLinkActiveOptions]="{exact: true}"
        routerLinkActive="-active"
      >
        {{ item.name }}
      </a>

      <ng-container *ngIf="isDynamic(item)">
        <a
          *ngIf="(item.getName(injector) | async) as name"
          mat-list-item
          class="link"
          [routerLink]="item.getPath(injector) | async"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="-active"
        >
          <span class="custom-title" [innerHTML]="name"></span>
        </a>
      </ng-container>

      <div *ngIf="isSeparator(item)" class="separator"></div>

    </ng-container>
  </mat-nav-list>
</div>
